@tailwind base;
@tailwind components;
@tailwind utilities;

/* Nice defaults */
:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial,
    "Apple Color Emoji", "Segoe UI Emoji";
}

* {
  box-sizing: border-box;
}

/* TipTap editor tweaks */
.ProseMirror {
  outline: none;
  white-space: pre-wrap;
}
